@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: blippo;
    src: url(./assets/Blippo-Bold.ttf);
}

:root {
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
    font-family: "Gabarito", sans-serif;

    /* color-scheme: light dark; */
    color: rgba(255, 255, 255, 0.87);
    /* background-color: #242424; */
    width: 100%;
    margin: 0 auto;
    text-align: center;

    background-color: #23272a;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* 
body {
    margin: 0;
    display: flex;
    place-items: center;
    min-height: 100vh;
} */

input:focus {
    outline: none;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.login-container {
    width: 420px;
}

.navbar {
    height: 100vh;

    flex-direction: column;
    width: 95px;
    min-width: 95px;
}

.result-page {
    display: flex;
    width: 100%;
    /* flex-direction: row; */
    height: 100vh;
}

.chan-button {
    border-radius: 100%;
}

.chan-column {
    height: 100%;
    display: flex;
    position: sticky;
    flex-direction: column;
    top: 0;
    width: 320px;
    min-width: 320px;
    max-width: 320px;
}

.user-chancolumn {
    display: flex;
    position: absolute;
    bottom: 0vh;
    height: 5.5vh;
    width: 100%;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin: 10px;
}

.topbar-section {
    height: 60px;
    position: sticky;
    width: 100%;
    display: flex;
}

.cell-chan {
    display: flex;
    margin-top: 10px;
    padding-top: 10px;
    height: 50px;
    width: 85%;
    margin-left: 15px;
}

.settings {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
}

.settings-account-header {
    display: flex;
    width: 600px;
    height: 150px;
    background-color: antiquewhite;
}

.settings-account-body {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 400px;
}

.settings-account {
    display: flex;
    flex-direction: column;
    width: 600px;
    min-height: 600px;
}

.test {
    width: 100%;
}

.tata {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
